@font-face {
  font-family: 'Ref Geist Sans';
  src: url('/ref-fonts/geist-sans/Geist-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ref Geist Sans NV';
  src: url('/ref-fonts/geist-sans/Geist-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Sans NV';
  src: url('/ref-fonts/geist-sans/Geist-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Sans NV';
  src: url('/ref-fonts/geist-sans/Geist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Sans NV';
  src: url('/ref-fonts/geist-sans/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Sans NV';
  src: url('/ref-fonts/geist-sans/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Sans NV';
  src: url('/ref-fonts/geist-sans/Geist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Sans NV';
  src: url('/ref-fonts/geist-sans/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Sans NV';
  src: url('/ref-fonts/geist-sans/Geist-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Sans NV';
  src: url('/ref-fonts/geist-sans/Geist-UltraBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ref Geist Mono';
  src: url('/ref-fonts/geist-mono/GeistMono-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ref Geist Mono NV';
  src: url('/ref-fonts/geist-mono/GeistMono-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Mono NV';
  src: url('/ref-fonts/geist-mono/GeistMono-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Mono NV';
  src: url('/ref-fonts/geist-mono/GeistMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Mono NV';
  src: url('/ref-fonts/geist-mono/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Mono NV';
  src: url('/ref-fonts/geist-mono/GeistMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Mono NV';
  src: url('/ref-fonts/geist-mono/GeistMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Mono NV';
  src: url('/ref-fonts/geist-mono/GeistMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Mono NV';
  src: url('/ref-fonts/geist-mono/GeistMono-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Mono NV';
  src: url('/ref-fonts/geist-mono/GeistMono-UltraBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ref Geist Pixel Square';
  src: url('/ref-fonts/geist-pixel/GeistPixel-Square.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Pixel Grid';
  src: url('/ref-fonts/geist-pixel/GeistPixel-Grid.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Pixel Circle';
  src: url('/ref-fonts/geist-pixel/GeistPixel-Circle.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Pixel Triangle';
  src: url('/ref-fonts/geist-pixel/GeistPixel-Triangle.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ref Geist Pixel Line';
  src: url('/ref-fonts/geist-pixel/GeistPixel-Line.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
